@import "tailwindcss";

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer base {
  /* Reverts a preflight rule on hidden that breaks some reveal.js */
  [hidden] {
    display: revert !important;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 40px 10px rgba(34, 197, 94, 0); /* green */
  }
  25% {
    box-shadow: 0 0 40px 10px rgba(59, 130, 246, 0.7); /* blue */
  }
  50% {
    box-shadow: 0 0 40px 10px rgba(239, 68, 68, 0.7); /* red */
  }
  75% {
    box-shadow: 0 0 40px 10px rgba(234, 179, 8, 0.7); /* yellow */
  }
  100% {
    box-shadow: 0 0 40px 10px rgba(59, 130, 246, 0); /* blue */
  }
}
